{% extends 'accountbase.html' %}
{% block content %}
{% load static %}

<h2> Enter new password</h2><hr>
<p> Please enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="text-center">
    <button class="btn btn-dark bg-theme-dark p-2 px-5 rounded-pill">Reset Password <span class="rounded-circle bg-theme p-2 ms-2"><i class="bi bi-arrow-right"></i></span></button>
    </div>
</form>
<p>Back to <a href="{% url 'login'%}">Login</a></p>
{% if form.errors %}
<div class="alert alert-danger mt-4">
{% for key, value in form.errors.items %}
{{ value.as_text }}
{% endfor %}
</div>
{% endif %}
{% endblock %}