{% extends 'userbase.html' %}
{% block content %}
{% load static %}
<style>
body{
    background-image: none !important;
    background-color: black;
}
</style>
<div class="row justify-content-center">
    <div class="col-md-6 py-5">
<h2 class="text-center"> Password Change</h2><hr>
<p class="text-center mb-3"> Please enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" fdprocessedid="yagesl" class="form-control" placeholder="Old Password">
    </div>
    <div class="mb-3">
        <input type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1" fdprocessedid="ku1u" class="form-control" placeholder="New Password">
    </div>
    <div class="mb-3">
        <input type="password" name="new_password2" autocomplete="new-password" required="" aria-describedby="id_new_password2_helptext" id="id_new_password2" fdprocessedid="xif2co" class="form-control" placeholder="Confirm Password">
    </div>
    <ul>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <div class="text-center">
    <button class="btn btn-dark bg-theme-dark p-2 px-5 rounded-pill">Change Password <span class="rounded-circle bg-theme p-2 ms-2"><i class="bi bi-arrow-right"></i></span></button>
    </div>
    <p class="my-2 text-center"><a href="{% url 'password_reset' %}" class="fw-bold" style="font-size: small;">Forgot Password</a></p>
</form>
</div>
</div>
{% if form.errors %}
<div class="alert alert-danger mt-4">
{% for key, value in form.errors.items %}
{{ value.as_text }}
{% endfor %}
</div>
{% endif %}
{% endblock %}