{% extends 'base.html'%}
{% load static %}
{% block "content"%}
<div class="aboutbg text-white">
    <div class="container py-5">
        <h1 class="text-uppercase text-center my-3" style="font-family: morlique;">About <span class="text-uppercase ms-1">Blackwell</span></h1>
        <p class="text-center" style="font-family: morlique;">Style that Defines you.</p>
    </div>
    </div>

    <div class="dark">
   <section class="container py-5">
    <h2 class="text-center">What We Offer</h2>
    <div class="row py-5 g-4">
        <div class="col-6 col-lg text-center">
            <img src="{% static 'images/necklace.png'%}" alt="" height="50" width="50">
            <h4 class="mt-3">Trendy Accessories</h4>
            <small>Stay ahead with the latest styles that define your personality.</small>
        </div>
        <div class="col-6 col-lg text-center">
            <img src="{% static 'images/best-seller.png'%}" alt="" height="50" width="50">
            <h4 class="mt-3">Premium Quality</h4>
            <small>Carefully crafted products designed for durability and elegance.</small>
        </div>
        <div class="col-6 col-lg text-center">
            <img src="{% static 'images/fast-delivery.png'%}" alt="" height="50" width="50">
            <h4 class="mt-3">Fast Delivery</h4>
           <small>Quick and reliable shipping right to your doorstep.</small> 
        </div>
        <div class="col-6 col-lg text-center">
            <img src="{% static 'images/customer-service.png'%}" alt="" height="52" width="52">
            <h4 class="mt-3">Customer Support</h4>
            <small>Friendly and responsive support to assist you anytime.</small>
        </div>
    </div>
   </section>
   </div>

   <section class="cta-section text-center text-light d-flex align-items-center justify-content-center py-5">
  <div class="smwidth">
    <h2 class="fw-bold mb-3">Upgrade Your Style Today</h2>
    <p class="mb-4">Explore our latest collection and redefine your look with BlackWell.</p>
    <a href="{% url 'home' %}" class="btn btn-light px-4 py-2 fw-bold">Shop Now</a>
  </div>
</section>
{% endblock %}