{% extends 'base.html'%}
{% load static %}
{% block "content"%}
<div class="banner text-white">
    <div class="container py-5">
        <h1 class="text-uppercase text-center my-3" style="font-family: morlique;">{{category.name}}</h1>
        <p class="text-center" style="font-family: morlique;">Premium Quality • Exclusive Design</p>
    </div>
    </div>

<div class="bgimg">
  <section class="container py-5 g-4">
    <h2 class="text-uppercase text-center fw-bold text-light" style="font-family: morlique;">Shop
    </h2>
    <div class="row py-5">
      {% for product in products %}
      <div class="col-6 col-md-3">
        <a href="{% url 'product' product.id%}">
        <div class="card h-100 product-card">
  <img src="/media/{{product.image1}}" class="card-img-top product-img" alt="..." height="300">
  <div class="card-body">
    <h5 class="card-text text-start text-dark fw-bold" style="font-family: morlique;">{{product.name}}</h5>
    <p class="text-start fs-5"><span class="text-dark">Rs. {{product.selling_price}}</span>
      <small><del class="text-secondary">Rs. {{product.mrp}}</del></small>
      <div class="text-end">
    <a href="{% url 'add_to_cart' product.id %}"><img src="{% static 'images/cartt.png'%}" alt=""></a>
    </div>
    </p>
  </div>
</div>
</a>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock %}